{% extends "users/base.html"%}



{% block content %}



        <!-- Intro Section -->
        <div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}'
            style="background-image: url(https://media.istockphoto.com/photos/chicken-or-hen-on-a-green-meadow-picture-id1217649450?k=20&m=1217649450&s=612x612&w=0&h=HTvc17nom1U9vKwdgiZEYFyz7G4s6hzhM92NsVcsZfk=); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="mask rgba-stylish-light">
                <div class="container h-100 d-flex justify-content-center align-items-center text-light">
                    <div class="row pt-5 mt-3">
                        <div class="col-md-12 mb-3">
                            <div class="intro-info-content text-center">
                                <h1 class="display-3 white-text mb-5 wow fadeInDown" data-wow-delay="0.3s">ABOUT <a
                                        class="white-text font-weight-bold">US</a></h1>
                                <h5 class="text-uppercase white-text mb-5 mt-1 font-weight-bold wow fadeInDown text-light"
                                    data-wow-delay="0.3s">Mother Hen Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Maxime, quod animi beatae velit accusamus perspiciatis esse ullam tempora
                                    exercitationem consectetur doloremque? Cum ab ducimus nulla, illo totam fugiat
                                    tempora nostrum. </h5>
                                <a href=""><button type="button" class="btn me-3"
                                        style="background-color:#7A981C; color:white;"><i
                                            class="bi bi-cloud-arrow-down-fill text-light"></i> Download our
                                        guidelines</button></a>

                                <!-- <a class="btn btn-light-blue btn-lg wow fadeInDown" data-wow-delay="0.3s">portfolio</a> -->
                                <!-- <a class="btn btn-indigo btn-lg wow fadeInDown" data-wow-delay="0.3s">About</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>


    <div class="container">


        <!-- Section: Contact v.2 -->
        <section id="contact" class="section pb-5 wow fadeIn" data-wow-delay="0.3s">

            <!-- Section heading -->
            <h2 class="font-weight-bold text-center h1 my-5">Contact us</h2>
            <!-- Section description -->
            <p class="text-center grey-text mb-5 mx-auto w-responsive">Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam
                voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

            <div class="row">

                <!-- Grid column -->
                <div class="col-md-8 col-xl-9">
                    <form>

                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form">
                                    <label for="contact-name" class="">Your name</label>
                                    <input type="text" id="contact-name" class="form-control">
                                   
                                </div>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form">
                                    <label for="contact-email" class="">Your email</label>
                                    <input type="text" id="contact-email" class="form-control">
                      
                                </div>
                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form">
                                    <label for="contact-Subject" class="">Subject</label>
                                    <input type="text" id="contact-Subject" class="form-control">
                                   
                                </div>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="row mb-4">

                            <!-- Grid column -->
                            <div class="col-md-12">

                                <div class="md-form">
                                    <label for="contact-message">Your message</label>
                                    <textarea type="text" id="contact-message" class="md-textarea form-control"
                                        rows="3"></textarea>
                                   
                                </div>

                            </div>
                        </div>
                        <!-- Grid row -->

                    </form>

                    <div class="text-center text-md-left mb-4">
                        <a href=""><button type="button" class="btn me-3"
                                style="background-color:#7A981C; color:white;">send</button></a>
                    </div></button>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-xl-3">
                    <ul class="contact-icons text-center list-unstyled">
                        <li><i class="bi bi-geo-alt"></i></i>
                            <p>Zimmerman, Nairobi</p>
                        </li>

                        <li><i class="bi bi-telephone-fill"></i></i>
                            <p>0100-100-161</p>
                        </li>

                        <li><span>
                                <i class="bi bi-envelope-check-fill"></i></i>
                                <p>Rafikistry@mail.com</p>
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

            </div>

        </section>



    </div>


    <section class="newsletter d-flex align-items-center justify-content-center ">

        <!-- <div class="row text-center p-5 ">
            <div class="col">

                <div>
                    <h3 class="news-text">Lets Keep in Touch</h3>

                </div><br>


                <div class="news">


                </div>
                <input type="text" placeholder="YOUR EMAIL">
                <button class="subscribe">SUBSCRIBE </button>


            </div>
        </div> -->
    </section>

    {% endblock content %}






    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&family=Montserrat&family=Open+Sans:ital,wght@1,300&family=Rowdies&display=swap');

        .newsletter {
            height: 30vh;
            background-color: #89CFF0;
        }



        input {
            width: 400px;
            padding: 12px 20px 14px 20px;
            margin: 0px 10px 0px 0px;
            border-radius: 4px 4px 4px 4px;
            background-color: rgba(255, 255, 255, 0.2);
            color: #ffffff;
            font-family: "Lato", Sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0px;
            border-style: solid;
            border-width: 0px 0px 0px 0px;
            box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 50%);
        }





        input ::placeholder {
            color: white;

        }

        .subscribe {
            width: 150px;
            height: 50px;
            background-color: #7A981C;
            color: #ffffff;
            font-family: "Fredoka One", Sans-serif;
            font-size: 16px;
            font-weight: 800;
            border-radius: 4px 4px 4px 4px;
            padding: 8px 18px 10px 18px;
            margin: -10px 0px 0px 0px;

        }

        .sub-text {
            color: #e5f5ff;
            font-family: "Fredoka One", Sans-serif;
            font-size: 30px;
            font-weight: 400;
            line-height: 31px;
            letter-spacing: 0px;
            text-shadow: 4px 10px 2px rgb(53 66 109 / 15%);
        }


        .news-text {
            color: black;
            font-family: "Fredoka One", Sans-serif;
            font-size: 50px;
            font-weight: 400;
            line-height: 31px;
            letter-spacing: 0px;
            text-shadow: 4px 10px 2px rgb(53 66 109 / 15%);
        }
    </style>