{% extends "users/base.html"%}



{% block content %}


<!-- Intro Section -->
<div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}'
    style="background-image: url(https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/280243984_5652337641462781_619042445576702688_n.png?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeFjY0wgA8HVWf4jXmJ6pNSPoQhJPlfVQj2hCEk-V9VCPcRL_c9fL2L_IMCUihUSbr7V8c7huLMATPV0k2bzXI5o&_nc_ohc=31bAsWqIohwAX_V2Jin&_nc_ht=scontent.fmba5-1.fna&oh=00_AT9VpOzou_ACXp3MuJuP4gHR1dgZfj-83J1eeIMEQuyZNg&oe=62F42F92); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-stylish-light">
        <div class="container h-100 d-flex justify-content-center align-items-center text-light">
            <div class="row pt-5 mt-3">
                <div class="col-md-12 mb-3">
                    <div class="intro-info-content text-center">
                        <h1 class="display-3 white-text mb-5 wow fadeInDown" data-wow-delay="0.3s">ABOUT <a
                                class="white-text font-weight-bold">US</a></h1>
                        <h3 class="text-uppercase white-text mb-5 mt-1 font-weight-bold wow fadeInDown text-light"
                            data-wow-delay="0.3s">
                            Rafikistry is a Teen Life Centre with Tender Loving Care, where we Trounce, Learn and Chillax!<br>
                            As the name suggests, Rafikistry TLC is all about Friendships!
                            ‘Rafiki’ is the Kiswahili word for ‘friend’. A friend is one who gives help and support.<br>

                            We exist to provide and increase information and skills on physical, mental, social, sexual and reproductive health as components of holistic wellbeing.<br>

                            For more than 10 years, Rafikistry has continued to provide services in a confidential and non-judgemental environment free from discrimination, coercion and violence.
                        </h3>
                        <a href=""><button type="button" class="btn me-3"
                                style="background-color:#7A981C; color:white;"><i class="bi bi-emoji-smile-fill"></i> Join Us Today!
                                </button></a>

                        <!-- <a class="btn btn-light-blue btn-lg wow fadeInDown" data-wow-delay="0.3s">portfolio</a> -->
                        <!-- <a class="btn btn-indigo btn-lg wow fadeInDown" data-wow-delay="0.3s">About</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</header>



<section class="newsletter d-flex align-items-center justify-content-center ">

    <!-- <div class="row text-center p-5 ">
            <div class="col">

                <div>
                    <h3 class="news-text">Lets Keep in Touch</h3>

                </div><br>


                <div class="news">


                </div>
                <input type="text" placeholder="YOUR EMAIL">
                <button class="subscribe">SUBSCRIBE </button>


            </div>
        </div> -->
</section>

{% endblock content %}






<style>
    @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&family=Montserrat&family=Open+Sans:ital,wght@1,300&family=Rowdies&display=swap');

    .newsletter {
        height: 30vh;
        background-color: #89CFF0;
    }



    input {
        width: 400px;
        padding: 12px 20px 14px 20px;
        margin: 0px 10px 0px 0px;
        border-radius: 4px 4px 4px 4px;
        background-color: rgba(255, 255, 255, 0.2);
        color: #ffffff;
        font-family: "Lato", Sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 50%);
    }





    input ::placeholder {
        color: white;

    }

    .subscribe {
        width: 150px;
        height: 50px;
        background-color: #7A981C;
        color: #ffffff;
        font-family: "Fredoka One", Sans-serif;
        font-size: 16px;
        font-weight: 800;
        border-radius: 4px 4px 4px 4px;
        padding: 8px 18px 10px 18px;
        margin: -10px 0px 0px 0px;

    }

    .sub-text {
        color: #e5f5ff;
        font-family: "Fredoka One", Sans-serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0px;
        text-shadow: 4px 10px 2px rgb(53 66 109 / 15%);
    }


    .news-text {
        color: black;
        font-family: "Fredoka One", Sans-serif;
        font-size: 50px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0px;
        text-shadow: 4px 10px 2px rgb(53 66 109 / 15%);
    }
</style>