{% extends "users/base.html"%}
{% block content %}

<div class="container">


    <!-- Section: Contact v.2 -->
    <section id="contact" class="section pb-5 wow fadeIn" data-wow-delay="0.3s">

        <!-- Section heading -->
        <h2 class="font-weight-bold text-center h1 my-5">Get In Touvh With Us </h2>
        <!-- Section description -->
        <p class="text-center grey-text mb-5 mx-auto w-responsive">Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam
            voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

        <div class="row">

            <!-- Grid column -->
            <div class="col-md-8 col-xl-9">
                <form id="kode">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-6">
                            <div class="md-form">
                                <label for="contact-name" class="">Your name</label>
                                <input type="text" id="contact-name" class="form-control">

                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-6">
                            <div class="md-form">
                                <label for="contact-email" class="">Your email</label>
                                <input type="text" id="contact-email" class="form-control">

                            </div>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <label for="contact-Subject" class="">Subject</label>
                                <input type="text" id="contact-Subject" class="form-control">

                            </div>
                        </div>
                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row mb-4">

                        <!-- Grid column -->
                        <div class="col-md-12">

                            <div class="md-form">
                                <label for="contact-message">Your message</label>
                                <textarea type="text" id="contact-message" class="md-textarea form-control"
                                    rows="3"></textarea>

                            </div>

                        </div>
                    </div>
                    <!-- Grid row -->

                </form>

                <div class="text-center text-md-left mb-4">
                    <a href=""><button type="button" class="btn me-3"
                            style="background-color:#7A981C; color:white;">send</button></a>
                </div></button>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-xl-3">
                <ul class="contact-icons text-center list-unstyled">
                    <li><i class="bi bi-geo-alt"></i></i>
                        <p>Zimmerman, Nairobi</p>
                    </li>

                    <li><i class="bi bi-telephone-fill"></i></i>
                        <p>0100-100-161</p>
                    </li>

                    <li><span>
                            <i class="bi bi-envelope-check-fill"></i></i>
                            <p>Rafikistry@mail.com</p>
                        </span>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

        </div>

    </section>



</div>

{% endblock %}
