{% extends "users/base.html"%}
{% block content %}
{% load static %}

<h1>Donate Now</h1>
<div class="container">


<div class="content">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6" style="border: 2px solid #fdfec3;">
            <div class="head" style="height: 50px;width:100%; background-color: rgba(30, 67, 86, 0.8) ;">
               
            </div>
            <div class="rectangles pt-4">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"><div class="rectangleA" style="height:50px ; width:130px; border:3px solid #fdfec3">
                        <p>Give Monthly</p>
                    </div></div>
                    <div class="col-sm-3"><div class="rectangleB" style="height:50px ; width:130px; border:2px solid rgba(30, 67, 86, 0.8)">
                        <p>Give One Time</p>
                    </div></div>
                </div>
                
                
            </div>
            <p><input type="checkbox" name="honor" id="honor">Give in honor or memory</p>
                  <hr>
                  <p><strong>Choose an amount to give each month</strong></p>

                  <button type="submit">Continue to details</button>

                  <form action="/details/" method="post" style="margin:100px ;">
                    <input id="first_name" type="text" name="first_name" value="{{ current_fname }}" placeholder="First Name"><br>
                    <br>
                    <input id="last_name" type="text" name="last_name" value="{{ current_lname }}" placeholder="Last Name">
                    <br>
                    <br>
                    <input id="your_email" type="email" name="email" value="{{ current_email }}" placeholder="Email"><br>
                    <br>
                    <input id="your_phoneNumber" type="number" name="number" value="{{ current_number }}" placeholder="Phone number(Optional)">
                               <br>
                               <br>
                    
                    <h3><strong>BILLING INFORMATION</strong></h3>
                    <form action="/action_page.php">
                        <input type="number" id="add1" name="address1" placeholder="Address 1"><br>
                        <br>
                        <input type="number" id="add2" name="address2" value="Address 2(Optional)"><br><br>
                        <input type="text" id="city" name="city" placeholder="City"><br><br>
                        <input type="text" id="state/province" name="state" placeholder="State/Province"><br><br>
                        <input type="text" id="zip" name="zip" placeholder="ZIP"><br><br>
                        <input type="text" id="country" name="country" placeholder="Country"><br><br>

                        <h3><strong>ENTER YOUR PAYMENT INFORMATION</strong></h3>
        <input type="number" id="credit" name="credit" placeholder="Credit Card Number"><br><br>
        <input type="number" id="cvv" name="cvv" placeholder="CVV"><br><br>
        <input type="date" id="exp" name="exp" placeholder="Expiration Date"><br><br>

<input type="submit" placeholder="DONATE" style="background-color:#fdfec3 ;">
                </form>
        </div>
    </div>
</div>
</div>


{% endblock %}