{% extends "users/base.html"%}
{% block content %}
{% load static %}

<h1>Donate Now</h1>
<div class="container">


<div class="content">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6" style="outline: 3px;">
            <div class="head" style="height: 40px;background-color:green ;">
               
            </div>
            <div class="rectangles pt-4">
                <div class="rectangleA" style="height:50px ; width:130px; background-color:aqua">

                </div>
                <div class="rectangleB">
                    
                </div>
            </div>
            <h2>hello</h2> 
               Lorem ipsum, dolor sit amet 
               
               
               
               consectetur adipisicing elit. Eligendi culpa, veniam alias iste corrupti ad illo deserunt! Fugit impedit eum, nam, sapiente o
               
               
               
               fficia placeat labore, provident minima iure ex accusamus?
        </div>
    </div>
</div>
</div>


{% endblock %}