{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
   
        <link rel="stylesheet" href="{">

    <title>Rafikistry</title>
</head>

<body>
    <div class="container-fluid  parse">
        <article>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="title-section">


                            <div class="container d-flex flex-column justify-content-between">

                                <div class="row">
                                    <div class="col-md-4 mt-3">
                                        <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t1.6435-1/173496682_4421115357918355_6350811980286670361_n.jpg?stp=dst-jpg_p148x148&_nc_cat=106&ccb=1-7&_nc_sid=1eb0c7&_nc_eui2=AeF0Q2iugYDFu6KQRprMpRhzcHizWT-bVoFweLNZP5tWgbZ1wJgNh2nPEaVkHVXzTHcOmke8mA_GI7Yq8ekHUKua&_nc_ohc=KYYZykFrgrAAX94I3uP&_nc_ht=scontent.fmba5-1.fna&oh=00_AT9hTsPLLM6S9Tb8lHEISzEzB4gG_tVpOaKS8ZYJd806ug&oe=631433C5"
                                            alt="Rafikistry" > <span class="span1">RAFIKISTRY</span>
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <h1>TEL:<strong>011011161</strong></h1>
                                        
                                    </div>


                                </div>
                              
                               


                            </div>




                        </div>
                    </div>
                </div>
        </article>
        <hr>

    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container-fluid t">
            <!-- <a class="navbar-brand " href="#">Rafikistry</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  " id="navbarNavDropdown">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Get Involved</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Aboout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Aboout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Aboout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Aboout</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Programs
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- carousel -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t1.6435-9/118999816_3727092747320623_5664129608848231019_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeH5SJ1BJmiRg0cA-O6BY4tnrs5Gm4KocUCuzkabgqhxQFh4bHfKVaFtfrrxNUtRMyNE_ulZDKzaLoBngo4coRNO&_nc_ohc=8Glz1-5SFXoAX8BmSWm&tn=T39EBuBSeg_1F7BJ&_nc_ht=scontent.fmba5-1.fna&oh=00_AT8bD-uRhX8Bu2ts2LRCSqDPxdolsNeogW1tNGZRmdzIhg&oe=6313A8D5"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t1.6435-9/118999816_3727092747320623_5664129608848231019_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeH5SJ1BJmiRg0cA-O6BY4tnrs5Gm4KocUCuzkabgqhxQFh4bHfKVaFtfrrxNUtRMyNE_ulZDKzaLoBngo4coRNO&_nc_ohc=8Glz1-5SFXoAX8BmSWm&tn=T39EBuBSeg_1F7BJ&_nc_ht=scontent.fmba5-1.fna&oh=00_AT8bD-uRhX8Bu2ts2LRCSqDPxdolsNeogW1tNGZRmdzIhg&oe=6313A8D5" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t1.6435-9/67893859_2735123779850863_6418020998221660160_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeFyj3l2eX2FYJeEHdXWz9zn-iIWhNovYeH6IhaE2i9h4UTmPNYsQVeTLU7w-TYQllvGrPFZsiQF8pbAjnwZxbTN&_nc_ohc=bCTFbamY9EwAX9DNKLd&_nc_ht=scontent.fmba5-1.fna&oh=00_AT_tMD770i6f_BfSRZw-mzmF0obn3akMWOOVR7DEpH7lzA&oe=63133A49" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <hr>
    <!-- programmes  -->
   
    <div class="container">
        <h2>Our Programmes</h2>


        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/269864620_5223689737660909_730760640436260515_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGnc93yB1QCKZf6ONOep5H_1OraXqDJZ9PU6tpeoMln0-I4e-T12Gf3HI3xxPhVvDsxr8qnVWU6UKWVS5jYrUJT&_nc_ohc=i5VlO6R-srMAX9ida-H&_nc_ht=scontent.fmba5-1.fna&oh=00_AT-etAtmP3gHkZdjJ97IU-KUW1R3LvHYlHLdVgmU-mbubQ&oe=62F386A0" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">More..</a>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/278841830_5635673396462539_4422512834180918853_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeFjLebt46Je1tPyLrBakth9WN5EU_oWFtpY3kRT-hYW2jjsxSCfw9nIJzVJ6uYzmuuJ-LdCLxvgExAdUNx2ZJu_&_nc_ohc=WjltqDXVD4oAX96ytiS&_nc_ht=scontent.fmba5-1.fna&oh=00_AT8lFtrwzot-ZLJpedcslELxCfyQjDqJwQKBLnC75NHlSA&oe=62F2C609" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">More..</a>
                    </div>
                </div>
              

            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/277803028_5568701833159696_6387839691071681357_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeHnvpBlxG3A-oFl_4wpwbftEDcOm0wcFLgQNw6bTBwUuBP7gC6gHrJV1uvbqCOx4N2Gsn1bAhgffo77zxcEU_Tu&_nc_ohc=jfFOWuVXnB0AX-gX83Z&tn=T39EBuBSeg_1F7BJ&_nc_ht=scontent.fmba5-1.fna&oh=00_AT-ERtYVWmNa5lX1Tixt0LYwujsFFqBt75ft1wTc4rPy8A&oe=62F345D9" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">More..</a>
                    </div>
                </div>

            </div>


        </div>


    </div>
<!-- Footer  -->
<footer>
    <div>
        <!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/rafikistry/" role="button"
          ><i class="bi bi-facebook"></i></a>
        
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="  https://twitter.com/Rafikistry" role="button"
          ><i class="bi bi-twitter"></i></a>
  
      
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/rafikistry/" role="button"
          ><i class="bi bi-instagram"></i></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/rafikistry/" role="button"
          ><i class="bi bi-linkedin"></i></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" />
                <label class="form-label" for="form5Example21">Email address</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg col-md-4 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg col-md-4 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg col-md-4 mb-4 mb-md-0">
            <h5 class="text-uppercase">About</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Programs</a>
              </li>
              <li>
                <a href="#!" class="text-white">Events</a>
              </li>
              <li>
                <a href="#!" class="text-white">Projects</a>
              </li>
              <li>
                <a href="#!" class="text-white">Analysis</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Rafikistry</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
    </div>
</footer>











    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>