{% extends "users/base.html"%}
{% block content %}
{% load static %}

<main id="main">

    <!-- ======= Our Services Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Our Programs</h2>
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Our Programs</li>
                </ol>
            </div>

        </div>
    </section><!-- End Our Services Section -->




    <!-- ======= Service Details Section ======= -->
    <section class="service-details">
        <div class="container">

            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{% static 'users/images/photo_2022-08-15_10-07-57.jpg' %}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Camp Imbuka</a></h5>
                            <p class="card-text">A day camp aimed at arousing curiosity, nurturing creativity and
                                awakening
                                talents. This transitional program starts grade 5 pupils on a journey of self discovery
                                and
                                self-awareness while inculcating essential life skills in participants (10 - 12yrs)</p>
                            <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
                        </div>
                    </div>
                </div>


                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{% static 'users/images/photo_2022-08-15_10-08-05.jpg' %}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Social Support and Protection</a></h5>
                            <p class="card-text">Rafikistry’s Underwear Project (PWP and DFD) PWP – PantiesWithPurpose
                                DFD – DrawersForDudes. (10 - 12yrs)
                                Underwear is the most under-donated, yet most needed, item of clothing. The Underwear
                                Project
                                (PWP and DFD) provides new underwear to young boys and girls in need. (10 - 12yrs)
                            </p>
                            <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
                        </div>
                    </div>
                </div>


                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{% static 'users/images/photo_2022-08-15_05-22-01.jpg' %}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Kisima (Reading well in order to Read well)</a></h5>
                            <p class="card-text">Reading Well! is designed to help children become better readers,
                                equipping them with reading
                                skills to develop a lifelong interest in and appreciation for reading and learning. (10
                                - 12yrs)</p>
                            <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
                        </div>
                    </div>
                </div>



                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{% static 'users/images/photo_2022-08-15_05-21-42.jpg' %}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Becoming</a></h5>
                            <p class="card-text">exists to empower young mothers and their children, by connecting them
                                with a supportive
                                community of other young mothers and adult role models, equipping them with life skills
                                and
                                impacting their futures in a positive way. (18 yrs and above)</p>
                            <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
                        </div>
                    </div>
                </div>



                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{% static 'users/images/photo_2022-08-15_05-21-46.jpg' %}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Nawiri +lus</a></h5>
                            <p class="card-text">is a Coming of Age Transition program designed specifically for young
                                high
                                school girls to celebrate femininity and provides contemporary rites of passage
                                programs,
                                focusing on providing healthy transitions from girl to young womanhood. (13 - 18yrs)</p>
                            <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
                        </div>
                    </div>
                </div>



                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{% static 'users/images/photo_2022-08-15_05-21-33 (copy).jpg' %}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Stawi +lus</a></h5>
                            <p class="card-text">Once boys are done with their transition and circumcision ceremonies,
                                they
                                need proper teachings and values passed on to them. Rafikistry walks with young men
                                through
                                their high school journey to provide this much needed follow up and support. (13 -
                                18yrs)
                            </p>
                            <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
                        </div>
                    </div>
                </div>


               


               


                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{% static 'users/images/photo_2022-08-15_05-21-50.jpg' %}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Sip & Spill</a></h5>
                            <p class="card-text">A therapeutic session that helps with boosting growth and healing among
                                the youth in the
                                community at large. (13yrs and above)</p>
                            <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
                        </div>
                    </div>
                </div>




                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{% static 'users/images/photo_2022-08-15_05-21-50.jpg' %}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Bonga Fresh</a></h5>
                            <p class="card-text">An Immediate Response To Creating A Safe Space Amidst The Pandemic!!
                                And What An Amazing Ride
                                It's Been</p>
                            <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{% static 'users/images/photo_2022-08-15_10-08-01.jpg' %}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">CommunityKonnect</a></h5>
                            <p class="card-text"> An annual event that brings together past and present beneficiaries,
                                benefactors, Parents, Well
                                Wishers, Supporters And The Entire Rafikistry Fraternity to reconnect with the past, see
                                the
                                present and project the future!. It is a virtual experience. (All the above ages)

                            </p>
                            <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
                        </div>
                    </div>
                </div>


                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="{% static 'users/images/rafikione.jpeg' %}" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Board Games and Gameplan</a></h5>
                            <p class="card-text">
                                Is a no holds barred all out afternoon of Fun, Laughter, Games and more. (All the above
                                ages)
                            </p>
                            <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
                        </div>
                    </div>
                </div>







                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="assets/img/service-details-4.jpg" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">OpenHouse</a></h5>
                            <p class="card-text"> a day on which everyone – beneficiaries, partners, friends, community
                                are encouraged to visit
                                Rafikistry to see what it is like and to have loads of fun together. (All the above
                                ages)
                            </p>
                            <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Service Details Section -->

    

</main><!-- End #main -->


{% endblock %}