{% extends "users/base.html"%}
{% block content %}

<h1 class="text-center">RAFIKISTRY PROGRAMS</h1>

<div class="container">



    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/269864620_5223689737660909_730760640436260515_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGnc93yB1QCKZf6ONOep5H_1OraXqDJZ9PU6tpeoMln0-I4e-T12Gf3HI3xxPhVvDsxr8qnVWU6UKWVS5jYrUJT&_nc_ohc=i5VlO6R-srMAX9ida-H&_nc_ht=scontent.fmba5-1.fna&oh=00_AT-etAtmP3gHkZdjJ97IU-KUW1R3LvHYlHLdVgmU-mbubQ&oe=62F386A0"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Camp Imbuka</h5>
                    <p class="card-text">A day camp aimed at arousing curiosity, nurturing creativity and awakening
                        talents. This transitional program starts grade 5 pupils on a journey of self discovery and
                        self-awareness while inculcating essential life skills in participants (10 - 12yrs)</p>
                    <!-- <a href="#" class="btn btn-primary">More..</a> -->
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/278841830_5635673396462539_4422512834180918853_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeFjLebt46Je1tPyLrBakth9WN5EU_oWFtpY3kRT-hYW2jjsxSCfw9nIJzVJ6uYzmuuJ-LdCLxvgExAdUNx2ZJu_&_nc_ohc=WjltqDXVD4oAX96ytiS&_nc_ht=scontent.fmba5-1.fna&oh=00_AT8lFtrwzot-ZLJpedcslELxCfyQjDqJwQKBLnC75NHlSA&oe=62F2C609"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nawiri +lus</h5>
                    <p class="card-text"> is a Coming of Age Transition program designed specifically for young high school girls to celebrate femininity and provides contemporary rites of passage programs, focusing on providing healthy transitions from girl to young womanhood. (13 - 18yrs)
                    </p>
                    <!-- <a href="#" class="btn btn-primary">More..</a> -->
                </div>
            </div>


        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/277803028_5568701833159696_6387839691071681357_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeHnvpBlxG3A-oFl_4wpwbftEDcOm0wcFLgQNw6bTBwUuBP7gC6gHrJV1uvbqCOx4N2Gsn1bAhgffo77zxcEU_Tu&_nc_ohc=jfFOWuVXnB0AX-gX83Z&tn=T39EBuBSeg_1F7BJ&_nc_ht=scontent.fmba5-1.fna&oh=00_AT-ERtYVWmNa5lX1Tixt0LYwujsFFqBt75ft1wTc4rPy8A&oe=62F345D9"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stawi +lus </h5>
                    <p class="card-text"> Once boys are done with their transition and circumcision ceremonies, they need proper teachings and values passed on to them. Rafikistry walks with young men through their high school journey to provide this much needed follow up and support.  (13 - 18yrs)
                    </p>
                    <!-- <a href="#" class="btn btn-primary">More..</a> -->
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/277803028_5568701833159696_6387839691071681357_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeHnvpBlxG3A-oFl_4wpwbftEDcOm0wcFLgQNw6bTBwUuBP7gC6gHrJV1uvbqCOx4N2Gsn1bAhgffo77zxcEU_Tu&_nc_ohc=jfFOWuVXnB0AX-gX83Z&tn=T39EBuBSeg_1F7BJ&_nc_ht=scontent.fmba5-1.fna&oh=00_AT-ERtYVWmNa5lX1Tixt0LYwujsFFqBt75ft1wTc4rPy8A&oe=62F345D9"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stawi +lus </h5>
                    <p class="card-text"> Once boys are done with their transition and circumcision ceremonies, they need proper teachings and values passed on to them. Rafikistry walks with young men through their high school journey to provide this much needed follow up and support.  (13 - 18yrs)
                    </p>
                    
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/277803028_5568701833159696_6387839691071681357_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeHnvpBlxG3A-oFl_4wpwbftEDcOm0wcFLgQNw6bTBwUuBP7gC6gHrJV1uvbqCOx4N2Gsn1bAhgffo77zxcEU_Tu&_nc_ohc=jfFOWuVXnB0AX-gX83Z&tn=T39EBuBSeg_1F7BJ&_nc_ht=scontent.fmba5-1.fna&oh=00_AT-ERtYVWmNa5lX1Tixt0LYwujsFFqBt75ft1wTc4rPy8A&oe=62F345D9"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stawi +lus </h5>
                    <p class="card-text"> Once boys are done with their transition and circumcision ceremonies, they need proper teachings and values passed on to them. Rafikistry walks with young men through their high school journey to provide this much needed follow up and support.  (13 - 18yrs)
                    </p>
                
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/277803028_5568701833159696_6387839691071681357_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeHnvpBlxG3A-oFl_4wpwbftEDcOm0wcFLgQNw6bTBwUuBP7gC6gHrJV1uvbqCOx4N2Gsn1bAhgffo77zxcEU_Tu&_nc_ohc=jfFOWuVXnB0AX-gX83Z&tn=T39EBuBSeg_1F7BJ&_nc_ht=scontent.fmba5-1.fna&oh=00_AT-ERtYVWmNa5lX1Tixt0LYwujsFFqBt75ft1wTc4rPy8A&oe=62F345D9"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stawi +lus </h5>
                    <p class="card-text"> Once boys are done with their transition and circumcision ceremonies, they need proper teachings and values passed on to them. Rafikistry walks with young men through their high school journey to provide this much needed follow up and support.  (13 - 18yrs)
                    </p>
                    
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/277803028_5568701833159696_6387839691071681357_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeHnvpBlxG3A-oFl_4wpwbftEDcOm0wcFLgQNw6bTBwUuBP7gC6gHrJV1uvbqCOx4N2Gsn1bAhgffo77zxcEU_Tu&_nc_ohc=jfFOWuVXnB0AX-gX83Z&tn=T39EBuBSeg_1F7BJ&_nc_ht=scontent.fmba5-1.fna&oh=00_AT-ERtYVWmNa5lX1Tixt0LYwujsFFqBt75ft1wTc4rPy8A&oe=62F345D9"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stawi +lus </h5>
                    <p class="card-text"> Once boys are done with their transition and circumcision ceremonies, they need proper teachings and values passed on to them. Rafikistry walks with young men through their high school journey to provide this much needed follow up and support.  (13 - 18yrs)
                    </p>
                    <a href="#" class="btn btn-primary">More..</a>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/277803028_5568701833159696_6387839691071681357_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeHnvpBlxG3A-oFl_4wpwbftEDcOm0wcFLgQNw6bTBwUuBP7gC6gHrJV1uvbqCOx4N2Gsn1bAhgffo77zxcEU_Tu&_nc_ohc=jfFOWuVXnB0AX-gX83Z&tn=T39EBuBSeg_1F7BJ&_nc_ht=scontent.fmba5-1.fna&oh=00_AT-ERtYVWmNa5lX1Tixt0LYwujsFFqBt75ft1wTc4rPy8A&oe=62F345D9"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stawi +lus </h5>
                    <p class="card-text"> Once boys are done with their transition and circumcision ceremonies, they need proper teachings and values passed on to them. Rafikistry walks with young men through their high school journey to provide this much needed follow up and support.  (13 - 18yrs)
                    </p>
                    
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/277803028_5568701833159696_6387839691071681357_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeHnvpBlxG3A-oFl_4wpwbftEDcOm0wcFLgQNw6bTBwUuBP7gC6gHrJV1uvbqCOx4N2Gsn1bAhgffo77zxcEU_Tu&_nc_ohc=jfFOWuVXnB0AX-gX83Z&tn=T39EBuBSeg_1F7BJ&_nc_ht=scontent.fmba5-1.fna&oh=00_AT-ERtYVWmNa5lX1Tixt0LYwujsFFqBt75ft1wTc4rPy8A&oe=62F345D9"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stawi +lus </h5>
                    <p class="card-text"> Once boys are done with their transition and circumcision ceremonies, they need proper teachings and values passed on to them. Rafikistry walks with young men through their high school journey to provide this much needed follow up and support.  (13 - 18yrs)
                    </p>
                    
                </div>
            </div>

        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/277803028_5568701833159696_6387839691071681357_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeHnvpBlxG3A-oFl_4wpwbftEDcOm0wcFLgQNw6bTBwUuBP7gC6gHrJV1uvbqCOx4N2Gsn1bAhgffo77zxcEU_Tu&_nc_ohc=jfFOWuVXnB0AX-gX83Z&tn=T39EBuBSeg_1F7BJ&_nc_ht=scontent.fmba5-1.fna&oh=00_AT-ERtYVWmNa5lX1Tixt0LYwujsFFqBt75ft1wTc4rPy8A&oe=62F345D9"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stawi +lus </h5>
                    <p class="card-text"> Once boys are done with their transition and circumcision ceremonies, they need proper teachings and values passed on to them. Rafikistry walks with young men through their high school journey to provide this much needed follow up and support.  (13 - 18yrs)
                    </p>
                    
                </div>
            </div>

        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/277803028_5568701833159696_6387839691071681357_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeHnvpBlxG3A-oFl_4wpwbftEDcOm0wcFLgQNw6bTBwUuBP7gC6gHrJV1uvbqCOx4N2Gsn1bAhgffo77zxcEU_Tu&_nc_ohc=jfFOWuVXnB0AX-gX83Z&tn=T39EBuBSeg_1F7BJ&_nc_ht=scontent.fmba5-1.fna&oh=00_AT-ERtYVWmNa5lX1Tixt0LYwujsFFqBt75ft1wTc4rPy8A&oe=62F345D9"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stawi +lus </h5>
                    <p class="card-text"> Once boys are done with their transition and circumcision ceremonies, they need proper teachings and values passed on to them. Rafikistry walks with young men through their high school journey to provide this much needed follow up and support.  (13 - 18yrs)
                    </p>
                    
                </div>
            </div>

        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/277803028_5568701833159696_6387839691071681357_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeHnvpBlxG3A-oFl_4wpwbftEDcOm0wcFLgQNw6bTBwUuBP7gC6gHrJV1uvbqCOx4N2Gsn1bAhgffo77zxcEU_Tu&_nc_ohc=jfFOWuVXnB0AX-gX83Z&tn=T39EBuBSeg_1F7BJ&_nc_ht=scontent.fmba5-1.fna&oh=00_AT-ERtYVWmNa5lX1Tixt0LYwujsFFqBt75ft1wTc4rPy8A&oe=62F345D9"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stawi +lus </h5>
                    <p class="card-text"> Once boys are done with their transition and circumcision ceremonies, they need proper teachings and values passed on to them. Rafikistry walks with young men through their high school journey to provide this much needed follow up and support.  (13 - 18yrs)
                    </p>
                    
                </div>
            </div>

        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/277803028_5568701833159696_6387839691071681357_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeHnvpBlxG3A-oFl_4wpwbftEDcOm0wcFLgQNw6bTBwUuBP7gC6gHrJV1uvbqCOx4N2Gsn1bAhgffo77zxcEU_Tu&_nc_ohc=jfFOWuVXnB0AX-gX83Z&tn=T39EBuBSeg_1F7BJ&_nc_ht=scontent.fmba5-1.fna&oh=00_AT-ERtYVWmNa5lX1Tixt0LYwujsFFqBt75ft1wTc4rPy8A&oe=62F345D9"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stawi +lus </h5>
                    <p class="card-text"> Once boys are done with their transition and circumcision ceremonies, they need proper teachings and values passed on to them. Rafikistry walks with young men through their high school journey to provide this much needed follow up and support.  (13 - 18yrs)
                    </p>
                    
                </div>
            </div>

        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://scontent.fmba5-1.fna.fbcdn.net/v/t39.30808-6/277803028_5568701833159696_6387839691071681357_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeHnvpBlxG3A-oFl_4wpwbftEDcOm0wcFLgQNw6bTBwUuBP7gC6gHrJV1uvbqCOx4N2Gsn1bAhgffo77zxcEU_Tu&_nc_ohc=jfFOWuVXnB0AX-gX83Z&tn=T39EBuBSeg_1F7BJ&_nc_ht=scontent.fmba5-1.fna&oh=00_AT-ERtYVWmNa5lX1Tixt0LYwujsFFqBt75ft1wTc4rPy8A&oe=62F345D9"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stawi +lus </h5>
                    <p class="card-text"> Once boys are done with their transition and circumcision ceremonies, they need proper teachings and values passed on to them. Rafikistry walks with young men through their high school journey to provide this much needed follow up and support.  (13 - 18yrs)
                    </p>
                    
                </div>
            </div>

        </div>








    </div>




</div>


{% endblock %}